
body {
    background-color: olivedrab;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: darkgrey;
    transition: .5s;
}

.btn:hover {
    background-color: lightslategray;
}

.levels {
    display: flex;
    margin: 20px 0;
}

.level-box:not(:last-child){
    margin-right: 20px;
}

.display-container {
    margin-bottom: 20px;
}

.board-container {
   display: flex;
   justify-content: center;
   margin: 10px 0;
}

.board {
    border: 1px solid black;
    border-radius: 5px;
    border-spacing: 5px;
    background-color: darkgoldenrod;
}

.board td {
    border: 1px solid black;
    border-radius: 3px;;
}

.board-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color:khaki;
}

.board-btn.disabled {
    opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
}

.trophy-img {
    display: none;
}
